@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Version Mobile */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ff8800;
    --secondary-color: #333;
    --text-color: #4e4e4e;
    --hover-color: #b87a00;
    --background-color: #ffead0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--secondary-color);
    margin: 0 auto;
}

/* NavBar */

a {
    text-decoration: none;
    font-weight: 600;
}

header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px;
    font-weight: 600;
}

header nav {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header a {
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
}

header a:hover {
    color: var(--hover-color);
    transition: ease-in-out 0.3s;
}

#menu {
    cursor: pointer;
    width: 39px;
    height: 39px;
}

#menu_mobile {
    /* A afficher lors du clique sur le menu */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

#menu_mobile a {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
}

.bouton_orange {
    background-color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 700;
    color: white !important;
    transition: ease-in-out 0.3s;
}

.bouton_orange:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
    color: white;
}

/* Presentation */

section {
    padding: 50px 25px;
}

.presentation {
    background-color: var(--background-color);
}

.container_presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
}

p {
    color: var(--text-color);
}

.container_presentation>img {
    height: auto;
    max-width: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.presentation-texte a {
    transition: ease-in-out 0.3s;
    width: auto;
    margin-right: 15px;
}

.presentation p {
    padding: 30px 0 30px 0;
}

.bouton_blanc {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
}

.bouton_blanc:hover {
    background-color: var(--background-color);
    transition: ease-in-out 0.3s;
    box-shadow: inset 0 0 0 2px white;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img_clients {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 40px 20px 20px;
}

.img_clients img {
    width: 50px;
    border-radius: 50%;
    margin-right: -25px;
    border: 3px solid var(--background-color);
}

b {
    color: var(--primary-color);
}

.titre {
    margin-top: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

#titre_partenaire {
    text-align: center;
    color: var(--text-color);
}

.logo_partenaire {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.partenaires img {
    max-width: 100px;
    margin: 20px 0;
    color: var(--text-color);
    filter: brightness(0);
    opacity: 50%;
    height: auto;
}

.how,
.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto;
}

#titre_how {
    color: var(--primary-color);
}

h2 {
    margin-bottom: 50px;
}

/* How it works */

.etape {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre {
    font-size: 3.5rem;
    font-weight: 700;
    color: #dcdada;
}

h3 {
    margin-bottom: 20px;
}

.etape-texte {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
}

.etape img {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 200px;
    order: 0;
    object-fit: scale-down;
}

/* Meals */

.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titre_meals {
    color: var(--primary-color);
}

.container_meals {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 20px;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.meal img {
    width: 100%;
    border-radius: 11px 11px 0 0;
}

.description_meal {
    padding: 10px 25px;
}

.etiquette_meal span {
    border-radius: 10px;
    padding: 3px 6px;
    font-size: 0.6em;
    font-weight: 600;
}

#etiquette_vert {
    background-color: #18aa02;
}

#etiquette_vertc {
    background-color: #29e100;
}

#etiquette_jaune {
    background-color: #ffe100;
}

h4 {
    margin-bottom: 13px;
    font-size: 23px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meal ul,
.diet ul {
    color: var(--text-color);
    padding: 10px 0;
}

.meal li,
.diet li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.description_meal li ion-icon,
.diet li ion-icon {
    color: var(--primary-color);
    width: 24px;
    height: 24px;
}

strong {
    font-weight: 500;
}

.diet {
    margin: 0 auto;
}

/* Testimonials */

.testimonials {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px
}

.container_testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 30px;
}

.container_avis {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 50px 0px;
}

.testimonial img {
    width: 50px;
    border-radius: 50%;
}

blockquote {
    color: var(--text-color);
}

.testimonial p {
    padding: 10px 0;
    font-size: 14px;
}

.container_galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    padding: 14px;
}

.objet-img {
    overflow: hidden;
}

.container_galerie img {
    display: block;
    width: 100%;
    transition: all 0.4s linear;
}

.container_galerie img:hover {
    transform: scale(1.1);
}

/* Pricing */

.container_pricing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
    padding-bottom: 50px;
}

.pricing_plan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 37px;
    border: 2px solid var(--background-color);
    border-radius: 11px;
    width: 100%;
}

#plan_2 {
    background-color: var(--background-color);
}

#titre_pricing {
    color: var(--primary-color);
}

.titre_plan {
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 25px;
}

.prix {
    font-size: 50px;
    font-weight: 600;
    color: #312d2d;
}

.prix span {
    font-size: 25px;
    font-weight: 500;
    padding-right: 5px;
}

.pricing_plan ul {
    padding: 20px 0;
}

.pricing_plan li {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.pricing_plan li ion-icon {
    color: var(--primary-color);
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.description_prix {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.container_fonction {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.fonction ion-icon {
    color: var(--primary-color);
    background-color: var(--background-color);
    width: 25px;
    height: 25px;
    padding: 13px;
    border-radius: 50px;
    margin-bottom: 15px;
}

/* Inscription */

.container_inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    color: #45260a;
}

.image_inscription {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url('../images/formulaire.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 11px 11px 0 0;
    order: 0;
    height: 430px;
    width: 100%;
}

.texte_inscription {
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.texte_inscription h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.texte_inscription p {
    margin-bottom: 20px;
    color: #45260a;
}

.element_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

form input,
form select {
    padding: 10px;
    border-radius: 11px;
    border: 1px solid #e67e22;
    background-color: #fdf2e9;
    font-family: 'Rubik', sans-serif;
    border: none;
}

form input::placeholder {
    color: #999999;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 7px rgba(253, 242, 233, 0.5);
}

.bouton_marron {
    background-color: #45260a;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    transition: ease-in-out 0.3s;
    width: 100%;
}

.bouton_marron:hover {
    background-color: white;
    color: #555555;
}

footer {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

footer a {
    color: var(--text-color);
    width: auto;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo_footer {
    margin-bottom: 20px;
}

.logo_footer img {
    width: 130px;
    margin-bottom: 26px;
}

.icon_footer {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
}

.icon_footer ion-icon {
    color: var(--text-color);
    width: 19px;
    height: 19px;
}

.logo_footer p {
    font-size: 11px;
}



/* Version Tablette */
@media (min-width: 600px) {

    body {
        font-size: 16px;
    }

    .etape {
        flex-direction: row;
    }

    .etape-texte {
        width: 50%;
        order: 0;
    }

    .etape img {
        width: 20%;
        order: 1;
    }

    .reverse .etape-texte {
        order: 1;
    }

    .reverse img {
        order: 0;
    }

    .container_meals {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 40px;
    }

    .diet {
        grid-column: 1 / 3;
    }

    .meals a {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
        color: var(--primary-color);
        font-weight: 400;
    }

    .container_avis {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials {
        flex-wrap: nowrap;
    }

    .container_galerie {
        grid-template-columns: repeat(6, 1fr);
    }

    .container_pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    .container_fonction {
        grid-template-columns: repeat(2, 1fr);
    }

    .container_inscription {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .image_inscription {
        order: 1;
        border-radius: 0 11px 11px 0;
        height: 100%;
        width: 500px;
    }

    .texte_inscription {
        padding: 48px 64px 64px;
    }
}

/* Version PC */
@media (min-width: 900px) {

    body {
        font-size: 17px;
        font-weight: 380;
    }

    header nav {
        display: flex;
    }

    .bouton_menu {
        display: none;
    }

    #menu_mobile {
        display: none;
    }

    .container_presentation {
        flex-direction: row;
    }

    .presentation-texte {
        width: 50%;
        text-align: left;
    }

    h1 {
        font-size: 40px;
    }

    .presentation>img {
        width: 50%;
    }

    .container_meals {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;
    }

    .diet {
        grid-column: 3/4;
        margin: 0;
    }

    .testimonials {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container_galerie {
        grid-template-columns: repeat(3, 1fr);
    }

    .pricing_plan {
        width: auto;
    }

    .container_fonction {
        grid-template-columns: repeat(4, 1fr);
    }
}