@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ff8800;
    --secondary-color: #333;
    --text-color: #777777;
    --hover-color: #b87a00;
    --background-color: #ffe9cd;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.5;
    color: var(--secondary-color);
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 600;
}

header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    font-weight: 600;
}

header nav {
    display: none;
    align-items: center;
    justify-content: center;
}

header a {
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
    margin-right: 15px;
}

header a:hover {
    color: var(--hover-color);
    transition: ease-in-out 0.3s;
}

#menu {
    cursor: pointer;
}

#menu_mobile {
    /* A afficher lors du clique sur le menu */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu_mobile a {
    color: white;
    font-size: 1.5rem;
    margin: 20px;
}

.bouton_orange {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    transition: ease-in-out 0.3s;
}

.bouton_orange:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
    color: white;
}

section {
    padding: 50px 30px;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
}

p {
    color: var(--text-color);
}

.presentation>img {
    height: auto;
    max-width: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.presentation a {
    transition: ease-in-out 0.3s;
    width: auto;
    margin-right: 15px;
}

.presentation p {
    padding: 30px 0 40px 0;
}

.bouton_blanc {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
}

.bouton_blanc:hover {
    background-color: var(--background-color);
    transition: ease-in-out 0.3s;
    box-shadow: inset 0 0 0 2px white;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.img_clients {
    padding: 20px;
}

.img_clients img {
    width: 50px;
    border-radius: 50%;
    margin: 2px;
}

b {
    color: var(--primary-color);
}

.titre {
    margin-top: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

#titre_partenaire {
    text-align: center;
    color: var(--text-color);
}

.logo_partenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.partenaires img {
    width: 100px;
    margin: 20px;
    color: var(--text-color);
    filter: brightness(0);
    opacity: 50%;
}

.how,
.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#titre_how {
    color: var(--primary-color);
}

h2 {
    margin-bottom: 50px;
}

.etape {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre {
    font-size: 3.5rem;
    font-weight: 700;
    color: #dcdada;
}

h3 {
    margin-bottom: 20px;
}

.etape-texte {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
}

.etape img {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 200px;
    order: 0;
    object-fit: scale-down;
}

.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titre_meals {
    color: var(--primary-color);
}

.container_meals {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.meal img {
    width: 100%;
    border-radius: 11px 11px 0 0;
}

.description_meal {
    padding: 10px 20px;
}

.etiquette_meal span {
    border-radius: 10px;
    padding: 3px 6px;
    font-size: 0.6em;
    font-weight: 600;
}

#etiquette_vert {
    background-color: #18aa02;
}

#etiquette_vertc {
    background-color: #29e100;
}

#etiquette_jaune {
    background-color: #ffe100;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meal ul,
.diet ul {
    color: var(--text-color);
    padding: 10px 0;
}

.meal li,
.diet li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 6px;
}

.description_meal li ion-icon,
.diet li ion-icon {
    color: var(--primary-color);
    width: 24px;
}

strong {
    font-weight: 500;
}


@media (min-width: 600px) {
    .etape {
        flex-direction: row;
    }

    .etape-texte {
        width: 50%;
        order: 0;
    }

    .etape img {
        width: 20%;
        order: 1;
    }

    .reverse .etape-texte {
        order: 1;
    }

    .reverse img {
        order: 0;
    }

    .container_meals {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 40px;
    }

    .diet {
        grid-column: 1 / 3;
        margin: 0 auto;
    }
}

@media (min-width: 900px) {

    /** Version PC **/
    header nav {
        display: flex;
    }

    #menu {
        display: none;
    }

    #menu_mobile {
        display: none;
    }

    .presentation {
        flex-direction: row;
    }

    .presentation-texte {
        width: 50%;
    }

    .presentation>img {
        width: 50%;
    }

    .container_meals {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;
    }

    .diet {
        grid-column: 3/4;
        margin: 0;
    }
}